@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@keyframes fade-darkblue {
  0% {
      color: var(--lightblue);
  }
  50% {
    color: var(--darkblue);
  }
  100% {
    color: var(--lightblue);
  }
}

@keyframes fade-white {
  0% {
      color: var(--lightblue);
  }
  50% {
    color: var(--white);
  }
  100% {
    color: var(--lightblue);
  }
}

:root {
  --darkblue: #0d1a22;
  --lightblue: #4da8da;
  --white: #ffffff;
  --dull: #555e64;
}

/* override scrollbar style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
}
 
::-webkit-scrollbar-thumb {
  background: #969696; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}

::-webkit-scrollbar-button:single-button {
  background-color: #e2e2e2;
}


html {
  scroll-behavior: smooth;
}

body { 
  display: grid;
  grid-template-areas: 
    "header"
    "section-map"
    "section-details"
    "section-onboard"
    "section-about"
    "footer";
  grid-template-rows: auto auto auto auto auto auto;  
  grid-template-columns: 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  margin: 0px;
}

header, section, footer {
  font-family: 'Chivo', Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 1.5em 5em;
  color: var(--white);
}

h1, h2, h3, h4, h5, h6, .menu-links {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

a {
  color: var(--lightblue);
  text-decoration: none;
  font-family: 'Chivo', Arial, Helvetica, sans-serif;
}

h4, p {
  font-size: 16px;
}

p {
  line-height: 25px;
}

#header {
  grid-area: header;
  background: var(--darkblue);
  color: var(--white);
  display: flex;
}

.logo {
  font-size: 42px;
  font-weight: 500;
  margin: 0;
}

.logo-info {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.menu {
  
  font-size: 1em;
  font-weight: 700;
  margin-block: 2em;
  margin-left: auto;
}

.menu a {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  padding-inline: 10px;
  transition: 0.2s;
}

.menu a:hover {
  color: var(--white);
  transition-timing-function: linear;
}

#section-map { 
  grid-area: section-map;
  background: var(--darkblue);
  color: var(--white);
}

#map { 
  height: 40em; 
  width: 1fr;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px var(--dull);
}

#center-map {
  margin-top: 20px;
  font-family: 'Chivo', Arial, Helvetica, sans-serif;
  color: var(--darkblue);
  border: none;
  border-radius: 3px;
}

#section-details { 
  grid-area: section-details; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--darkblue);  
  color: var(--white);
}

#section-onboard { 
  grid-area: section-onboard; 
  background: var(--white);
  color: var(--darkblue);
} 

#section-onboard a:hover {
  animation: fade-darkblue 1s;
}

#onboard-people div {
  padding: 10px 0px;
}

#onboard-people div div {
  box-shadow: 0px 0px 10px 5px #0d1a2209; 
  border-radius: 10px;
  background: var(--white);
  color: var(--darkblue);
  padding: 20px;
}

#onboard-people div div h4 {
  margin-top: 0px;
}

#section-about { 
  grid-area: section-about; 
  background: var(--darkblue);
  color: var(--white);
} 

#section-about a:hover, .footer-a:hover {
  animation: fade-white 1s;
}

#footer {
  grid-area: footer;
  background: var(--darkblue);
  padding-top: 100px;
  text-align: center;
}

#footer a {
  margin-inline: 10px;
}

.github {
  display: flex;
  justify-content: center;
}

.github div {
  display: flex;
  color: var(--dull);
}

.github div a {
  font-weight: 600;
  transition: 0.5s;
  color: var(--dull);
}

.github div a:hover {
  transition-timing-function: linear;
  color: var(--white);
}

.github div img {
  width: 20px;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 1200px) {
  body { 
    grid-template-areas: 
      "header"
      "section-map"
      "section-details"
      "section-onboard"
      "section-about"
      "footer";
    grid-template-rows: auto 1fr auto auto auto auto;
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
    margin: 0px;
  }

  header, section, footer {
    padding: 1.5em;
  }

  #header {
    display: block;
    text-align: center;
  }

  .menu {
    display: flex;
    justify-content: space-around;
  }

  .menu a {
    padding: 0px;
  }
  
}

@media all and (max-width: 720px) {
  #map { 
    height: 20em; 
    box-shadow: 0px 0px 0px 3px var(--dull);
  }

  header, section, footer {
    padding: 1.5em;
    text-align: center;
  }

  h1 {
    font-size: 24px;
  }

  h4, p {
    font-size: 12px;
  }

  p {
    line-height: 20px;
  }

  a {
    font-size: 12px;
  }

  .menu {
    display: none;
  }

  .menu a {
    margin-inline: auto;
  }

  #section-map {
    padding-top: 0px;
  }

  #section-details { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }

  #section-details div p {
    font-size: 10px;
    margin: 0px;
  }  

  #onboard-people div div p {
    text-align: left;
  }

  #section-about p {
    text-align: left;
  }

  #footer {
    padding-top: 50px;
  }

  #footer a {
    font-size: 10px;
    font-weight: 700;
  }

  .github div img {
    width: 15px;
  }
}